<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{% block head %}
	<title>Base Page of Download Index</title>
	{% endblock head %}
</head>
<body>
	<div class="container">

		<!--child template -->
		{% block content %}{% endblock %}

		<!-- Errors -->
		{% if error %}
			<p class="error"><strong>Error:</strong>{{ error }}</p>
		{% endif %}

		<!-- Flashed Messages -->
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
	</div>
</body>
</html>