{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-1.11.3.min.js') }}">\x3C/script>')</script>
	<script type='text/javascript'>
		//sets the global variable to the prefix to the root of the application
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

<title>File Transfer</title>
{% endblock head %}
{% block content %}

<h5>
 	<span>Room URL: </span><span id="url">...</span>
</h5>

<div id="textzone">
	<input type='file' name='file' id='file'>
</div>
<div id="buttons">
	<button id="restartButton">Restart</button> 
	<button id="sendButton">Send</button>
	<button id="closeButton">CloseConnection</button>
	<a id='dllink'></a>
</div>

<!--
<form action="" method="POST" enctype="multipart/form-data" id="fileform">
	<input type="file" name="files[]">
	<input type="submit">
</form>
-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='filetransfer.js') }}" type="text/javascript">
</script>
<script src="{{ url_for('static',filename='lib/adapter.js') }}"></script>
<script type="text/javascript">
	$(document).ready( function() {
		var room_name = "{{ room_name }}";
		readyFunction(room_name);
	});
</script>
{% endblock content %}