<!doctype html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script type='text/javascript'>
		//sets the global variable to the prefix to the root of the application
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script src="static/sizecheck.js" type="text/javascript">
	</script>
	<title> Homepage of the "to be" download index, Hope it makes people's lives easier  </title>
</head>
<body>
	Pick a file to add
	<form action="" method="POST" enctype="multipart/form-data" id="fileform">
		<input type="file" id="files" name="files[]" required="" multiple="" webkitdirectory="" mozdirectory="">
			<input type="submit" value="upload">
	</form>
	<br>
	<br>
	<div id="output"></div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
				<li>{{ messages }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
</body>
</html>