{% extends "base.html" %}
{% block content %}

<h3>Register</h3>
<br>
<form action="" method='POST'>
	{{ form.csrf_token }}
	<div>
		{{ form.username(placeholder="username") }}
		<span class="error">
			{% if form.username.errors %}
				{% for error in for.username.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<div>
		{{ form.firstname(placeholder="Firstname") }}
		<span class="error">
			{% if form.firstname.errors %}
				{% for error in for.firstname.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<div>
		{{ form.lastname(placeholder="Lastname") }}
		<span class="error">
			{% if form.lastname.errors %}
				{% for error in for.lastname.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<div>
		{{ form.hostel(placeholder="Hostel") }}
		<span class="error">
			{% if form.hostel.errors %}
				{% for error in for.hostel.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<div>
		{{ form.room(placeholder="Room Number") }}
		<span class="error">
			{% if form.room.errors %}
				{% for error in for.room.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<div>
		{{ form.year(placeholder="Year") }}
		<span class="error">
			{% if form.year.errors %}
				{% for error in for.year.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<div>
		{{ form.password(placeholder="password") }}
		<span class="error">
			{% if form.password.errors %}
				{% for error in for.password.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<div>
		{{ form.confirm(placeholder="confirm") }}
		<span class="error">
			{% if form.confirm.errors %}
				{% for error in form.confirm.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</div>
	<button type="submit">Register!</button>
</form>
{% endblock %}